<div id="app-component">
  <div id="nav-component">
    <h1 class="title primary">TheMealApp</h1>
    <h3 class="subtitle primary">Find your recipe</h3>
  </div>
  
  <div id="search-component">
    
  <form class="form-inline waves-light" mdbWavesEffect>
    <div class="md-form mt-0">
      <input 
        class="form-control mr-sm-2" 
        type="text" 
        placeholder="Search" 
        [(ngModel)]="search" 
        name="search" 
        (ngModelChange)="show()">
    </div>
    <div class="btn-div">
        <button class="btn btn-primary" type="button" (click)="findRandom()">Random Recipe</button>
    </div>    
  </form>
  </div>  

  <router-outlet></router-outlet>
</div>





